<a href="https://colab.research.google.com/github/michp15/statistical_learning_class/blob/main/stat_learn_classif_proj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
library(utils)
library(dplyr)
library(tidyr)
library(corrplot)

In [3]:
# download dataset

download.file('https://raw.githubusercontent.com/michp15/statistical_learning_class/refs/heads/main/bank-additional-full.csv', 'bank.csv')

In [4]:
# read dataset

df = read.csv('bank.csv', sep=';')

In [10]:
# inspect for correct formatting

head(df)

  age job       marital education   default housing loan contact   month
1 56  housemaid married basic.4y    no      no      no   telephone may
2 57  services  married high.school unknown no      no   telephone may
3 37  services  married high.school no      yes     no   telephone may
4 40  admin.    married basic.6y    no      no      no   telephone may
5 56  services  married high.school no      no      yes  telephone may
6 45  services  married basic.9y    unknown no      no   telephone may
  day_of_week ⋯ campaign pdays previous poutcome    emp.var.rate cons.price.idx
1 mon         ⋯ 1        999   0        nonexistent 1.1          93.994
2 mon         ⋯ 1        999   0        nonexistent 1.1          93.994
3 mon         ⋯ 1        999   0        nonexistent 1.1          93.994
4 mon         ⋯ 1        999   0        nonexistent 1.1          93.994
5 mon         ⋯ 1        999   0        nonexistent 1.1          93.994
6 mon         ⋯ 1        999   0        nonexistent 1.1          93.994
  cons.conf.idx euribor3m nr.employed y
1 -36.4         4.857     5191        no
2 -36.4         4.857     5191        no
3 -36.4         4.857     5191        no
4 -36.4         4.857     5191        no
5 -36.4         4.857     5191        no
6 -36.4         4.857     5191        no

In [15]:
# check for and remove duplicates

if (any(duplicated(df))){
  df <- distinct(df)
}

In [16]:
# check for null values

print(any(is.na(df)))

[1] FALSE

In [17]:
str(df)

'data.frame':	41176 obs. of  21 variables:
 $ age           : int  56 57 37 40 56 45 59 41 24 25 ...
 $ job           : chr  "housemaid" "services" "services" "admin." ...
 $ marital       : chr  "married" "married" "married" "married" ...
 $ education     : chr  "basic.4y" "high.school" "high.school" "basic.6y" ...
 $ default       : chr  "no" "unknown" "no" "no" ...
 $ housing       : chr  "no" "no" "yes" "no" ...
 $ loan          : chr  "no" "no" "no" "no" ...
 $ contact       : chr  "telephone" "telephone" "telephone" "telephone" ...
 $ month         : chr  "may" "may" "may" "may" ...
 $ day_of_week   : chr  "mon" "mon" "mon" "mon" ...
 $ duration      : int  261 149 226 151 307 198 139 217 380 50 ...
 $ campaign      : int  1 1 1 1 1 1 1 1 1 1 ...
 $ pdays         : int  999 999 999 999 999 999 999 999 999 999 ...
 $ previous      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ poutcome      : chr  "nonexistent" "nonexistent" "nonexistent" "nonexistent" ...
 $ emp.var.rate  : num  1.1 1.1 1.1 1.1 1.1 1.1 1.1 1.1 1.1 1.1 ...
 $ cons.price.idx: num  94 94 94 94 94 ...
 $ cons.conf.idx : num  -36.4 -36.4 -36.4 -36.4 -36.4 -36.4 -36.4 -36.4 -36.4 -36.4 ...
 $ euribor3m     : num  4.86 4.86 4.86 4.86 4.86 ...
 $ nr.employed   : num  5191 5191 5191 5191 5191 ...
 $ y             : chr  "no" "no" "no" "no" ...

In [18]:
summary(df)

      age            job              marital           education
 Min.   :17.00   Length:41176       Length:41176       Length:41176
 1st Qu.:32.00   Class :character   Class :character   Class :character
 Median :38.00   Mode  :character   Mode  :character   Mode  :character
 Mean   :40.02
 3rd Qu.:47.00
 Max.   :98.00
   default            housing              loan             contact
 Length:41176       Length:41176       Length:41176       Length:41176
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character



    month           day_of_week           duration         campaign
 Length:41176       Length:41176       Min.   :   0.0   Min.   : 1.000
 Class :character   Class :character   1st Qu.: 102.0   1st Qu.: 1.000
 Mode  :character   Mode  :character   Median : 180.0   Median : 2.000
                                       Mean   : 258.3   Mean   : 2.568
                                       3rd Qu.: 319.0   3rd Qu.: 3.000
                                       Max.   :4918.0   Max.   :56.000
     pdays          previous       poutcome          emp.var.rate
 Min.   :  0.0   Min.   :0.000   Length:41176       Min.   :-3.40000
 1st Qu.:999.0   1st Qu.:0.000   Class :character   1st Qu.:-1.80000
 Median :999.0   Median :0.000   Mode  :character   Median : 1.10000
 Mean   :962.5   Mean   :0.173                      Mean   : 0.08192
 3rd Qu.:999.0   3rd Qu.:0.000                      3rd Qu.: 1.40000
 Max.   :999.0   Max.   :7.000                      Max.   : 1.40000
 cons.price.idx  cons.conf.idx     euribor3m      nr.employed
 Min.   :92.20   Min.   :-50.8   Min.   :0.634   Min.   :4964
 1st Qu.:93.08   1st Qu.:-42.7   1st Qu.:1.344   1st Qu.:5099
 Median :93.75   Median :-41.8   Median :4.857   Median :5191
 Mean   :93.58   Mean   :-40.5   Mean   :3.621   Mean   :5167
 3rd Qu.:93.99   3rd Qu.:-36.4   3rd Qu.:4.961   3rd Qu.:5228
 Max.   :94.77   Max.   :-26.9   Max.   :5.045   Max.   :5228
      y
 Length:41176
 Class :character
 Mode  :character

In [20]:
boxplot(df)

ERROR: Error in x[floor(d)] + x[ceiling(d)]: non-numeric argument to binary operator

In [33]:
select_if(df, is.numeric)

      age duration campaign pdays previous emp.var.rate cons.price.idx
1     56  261      1        999   0        1.1          93.994
2     57  149      1        999   0        1.1          93.994
3     37  226      1        999   0        1.1          93.994
4     40  151      1        999   0        1.1          93.994
5     56  307      1        999   0        1.1          93.994
6     45  198      1        999   0        1.1          93.994
7     59  139      1        999   0        1.1          93.994
8     41  217      1        999   0        1.1          93.994
9     24  380      1        999   0        1.1          93.994
10    25   50      1        999   0        1.1          93.994
11    41   55      1        999   0        1.1          93.994
12    25  222      1        999   0        1.1          93.994
13    29  137      1        999   0        1.1          93.994
14    57  293      1        999   0        1.1          93.994
15    35  146      1        999   0        1.1          93.994
16    54  174      1        999   0        1.1          93.994
17    35  312      1        999   0        1.1          93.994
18    46  440      1        999   0        1.1          93.994
19    50  353      1        999   0        1.1          93.994
20    39  195      1        999   0        1.1          93.994
21    30   38      1        999   0        1.1          93.994
22    55  262      1        999   0        1.1          93.994
23    55  342      1        999   0        1.1          93.994
24    41  181      1        999   0        1.1          93.994
25    37  172      1        999   0        1.1          93.994
26    35   99      1        999   0        1.1          93.994
27    59   93      1        999   0        1.1          93.994
28    39  233      1        999   0        1.1          93.994
29    54  255      2        999   0        1.1          93.994
30    55  362      1        999   0        1.1          93.994
⋮     ⋮   ⋮        ⋮        ⋮     ⋮        ⋮            ⋮
41147 35   363     1        999   0        -1.1         94.767
41148 35   514     1          9   4        -1.1         94.767
41149 33   843     1        999   0        -1.1         94.767
41150 33   510     1        999   1        -1.1         94.767
41151 60   347     2          4   1        -1.1         94.767
41152 35   385     3          4   2        -1.1         94.767
41153 54  1868     2         10   1        -1.1         94.767
41154 38   403     2        999   0        -1.1         94.767
41155 32   651     1        999   1        -1.1         94.767
41156 32   236     3        999   0        -1.1         94.767
41157 38   144     2        999   0        -1.1         94.767
41158 62   154     5        999   0        -1.1         94.767
41159 40   293     2        999   4        -1.1         94.767
41160 33   112     1        999   0        -1.1         94.767
41161 31   353     1        999   0        -1.1         94.767
41162 62   329     1        999   2        -1.1         94.767
41163 62   208     1          1   6        -1.1         94.767
41164 34   180     1        999   2        -1.1         94.767
41165 38   360     1        999   0        -1.1         94.767
41166 57   124     6        999   0        -1.1         94.767
41167 62   483     2          6   3        -1.1         94.767
41168 64   151     3        999   0        -1.1         94.767
41169 36   254     2        999   0        -1.1         94.767
41170 37   281     1        999   0        -1.1         94.767
41171 29   112     1          9   1        -1.1         94.767
41172 73   334     1        999   0        -1.1         94.767
41173 46   383     1        999   0        -1.1         94.767
41174 56   189     2        999   0        -1.1         94.767
41175 44   442     1        999   0        -1.1         94.767
41176 74   239     3        999   1        -1.1         94.767
      cons.conf.idx euribor3m nr.employed
1     -36.4         4.857     5191
2     -36.4         4.857     5191
3     -36.4         4.857     5191
4     -36.4         4.857     5191
5     -36.4         4.857     5191
6     -36.4         4.857     5191
7     -36.4         4.857     5191
8     -36.4         4.857     5191
9     -36.4         4.857     5191
10    -36.4         4.857     5191
11    -36.4         4.857     5191
12    -36.4         4.857     5191
13    -36.4         4.857     5191
14    -36.4         4.857     5191
15    -36.4         4.857     5191
16    -36.4         4.857     5191
17    -36.4         4.857     5191
18    -36.4         4.857     5191
19    -36.4         4.857     5191
20    -36.4         4.857     5191
21    -36.4         4.857     5191
22    -36.4         4.857     5191
23    -36.4         4.857     5191
24    -36.4         4.857     5191
25    -36.4         4.857     5191
26    -36.4         4.857     5191
27    -36.4         4.857     5191
28    -36.4         4.857     5191
29    -36.4         4.857     5191
30    -36.4         4.857     5191
⋮     ⋮             ⋮         ⋮
41147 -50.8         1.035     4963.6
41148 -50.8         1.035     4963.6
41149 -50.8         1.035     4963.6
41150 -50.8         1.035     4963.6
41151 -50.8         1.035     4963.6
41152 -50.8         1.035     4963.6
41153 -50.8         1.035     4963.6
41154 -50.8         1.030     4963.6
41155 -50.8         1.030     4963.6
41156 -50.8         1.030     4963.6
41157 -50.8         1.030     4963.6
41158 -50.8         1.030     4963.6
41159 -50.8         1.030     4963.6
41160 -50.8         1.031     4963.6
41161 -50.8         1.031     4963.6
41162 -50.8         1.031     4963.6
41163 -50.8         1.031     4963.6
41164 -50.8         1.031     4963.6
41165 -50.8         1.031     4963.6
41166 -50.8         1.031     4963.6
41167 -50.8         1.031     4963.6
41168 -50.8         1.028     4963.6
41169 -50.8         1.028     4963.6
41170 -50.8         1.028     4963.6
41171 -50.8         1.028     4963.6
41172 -50.8         1.028     4963.6
41173 -50.8         1.028     4963.6
41174 -50.8         1.028     4963.6
41175 -50.8         1.028     4963.6
41176 -50.8         1.028     4963.6

In [34]:
column(select_if(df, is.numeric))

ERROR: Error in column(select_if(df, is.numeric)): could not find function "column"

In [40]:
for (column in names(df)[sapply(df, function(x) !is.numeric(x))]) {
  cat(column, "\n")
  print(table(df[[column]]))
  cat("\n\n")
}

job

       admin.   blue-collar  entrepreneur     housemaid    management
        10422          9254          1456          1060          2924
      retired self-employed      services       student    technician
         1720          1421          3969           875          6743
   unemployed       unknown
         1014           330


marital

divorced  married   single  unknown
    4612    24928    11568       80


education

           basic.4y            basic.6y            basic.9y         high.school
               4176                2292                6045                9515
         illiterate professional.course   university.degree             unknown
                 18                5243               12168                1731


default

     no unknown     yes
  32588    8597       3


housing

     no unknown     yes
  18622     990   21576


loan

     no unknown     yes
  33950     990    6248


contact

 cellular telephone
    26144     15044


month

  apr   aug   dec   jul   jun   mar   may   nov   oct   sep
 2632  6178   182  7174  5318   546 13769  4101   718   570


day_of_week

 fri  mon  thu  tue  wed
7827 8514 8623 8090 8134


poutcome

    failure nonexistent     success
       4252       35563        1373


y

   no   yes
36548  4640